<%- include('partials/header.ejs') %>
        <h1> Welcome to the Solar System Site ! </h1>
        
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/mercury">Mercury</a></li>
          <li><a href="/venus">Venus</a></li>
          <li><a href="/saturn">Saturn</a></li>
          <li><a href="/earth">Earth</a></li>
        </ul>
        
        <p>Click on those links or use the navbar on a planet to know more about it :</p>
        
        <a href="/mercury">Mercury</a><br>
        <a href="/venus">Venus</a><br>
        <a href="/saturn">Saturn</a><br>
        <a href="/earth">Earth</a><br>

        <img src="/img/solar-system-0.webp" alt="The Solar System">
        
<%- include('partials/footer.ejs') %>