<%- include('partials/header.ejs') %>

        <h1> Welcome to the Mercury Page ! </h1>
        
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/mercury">Mercury</a></li>
          <li><a href="/venus">Venus</a></li>
          <li><a href="/saturn">Saturn</a></li>
          <li><a href="/earth">Earth</a></li>
        </ul>
        
        <img src="/img/mercury.webp" alt="The Solar System">
        
        <p>Mercury is the smallest planet in the Solar System. It is the closest planet to the sun. It makes one trip around the Sun once every 87.969 days. Mercury is bright when it is visible from Earth, ranging from −2.0 to 5.5 in apparent magnitude. It cannot be easily seen as it is usually too close to the Sun. Because Mercury is normally lost in the glare of the Sun, Mercury can only be seen in the morning or evening twilight or during a solar eclipse.</p>
        
<%- include('partials/footer.ejs') %>